<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scto.filerenamer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="4" 
        android:targetSdkVersion="15" />

	<!-- Declares that the app supports devices w/o touch, such as a mouse-driven device
	or a device that provides only a d-pad for navigation -->
    <uses-feature
		android:name="android.hardware.touchscreen" android:required="false" />

    <uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
		android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_logo"
        android:theme="@style/AppTheme.Light"
        android:hardwareAccelerated="true">
		<activity
			android:name=".SplashActivity"
            android:label="@string/app_name"
			android:theme="@style/Theme.Transparent"
            android:launchMode="singleTop">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
        <activity
			android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter >
                <action android:name="com.scto.filerenamer.MAINACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
			android:name=".AndroidFileBrowser"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter >
                <action android:name="com.scto.filerenamer.ANDROIDFILEBROWSER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		

        <activity
			android:name=".FileRenamerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter >
                <action android:name="com.scto.filerenamer.FILERENAMERACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
		<activity android:name="PageFragment" />

        <activity
			android:name=".PreferencesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter >
                <action android:name="com.scto.filerenamer.PREFERENCESACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
		<activity android:name="PreferencesActivity$AudioActivity" />
		<activity android:name="PreferencesActivity$PlaybackActivity" />
		<activity android:name="PreferencesActivity$LibraryActivity" />
		<activity android:name="PreferencesActivity$NotificationsActivity" />
		<activity android:name="PreferencesActivity$ShakeActivity" />
		<activity android:name="PreferencesActivity$MiscActivity" />
		<activity android:name="PreferencesActivity$AboutActivity" />		
    </application>
</manifest>
